$yellow: #f9c978;
.customize_main_container {
  width: 100%;
  .common_title_item {
    margin-top: 1rem;
  }
  .longpicture_wrapper {
    width: 100%;
    .swiper-slide {
      width: 30rem;
      height: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      a {
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        left: 15.5rem;
        top: 3rem;
        background-image: url("image/customize/dot_00000.png");
      }
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
        // overflow: hidden;
      }
    }
  }
  .hint {
    padding: 0.5rem;
    width: 100%;
    height: 2rem;
    color: #4387bd;
    box-sizing: border-box;

    p {
      font-size: 0.5rem;
    }
  }
  .common_dialog_container {
    .dialog_wrapper {
      width: 12rem;
      height: 12rem;
      .content {
        display: flex;
        .picture {
          padding: 1rem 0.5rem 1rem 1rem;
          width: 6rem;

          height: 100%;
          box-sizing: border-box;
          img {
            display: inline-block;
            height: auto;
          }
        }
        .desc {
          display: inline-block;
          padding: 0 0.5rem 0 0;
          height: 100%;
          flex: 1;
          .main {
            height: 10.5rem;
            overflow: auto;
          }
        }
      }
    }
  }
}

.interaction_main_container {
  width: 100%;
  overflow: hidden;
  .bg {
    width: 100%;
    height: 100vh;
    background-image: url("image/interaction/bg_interaction_00000.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
  }
  > .content {
    margin: 5.5rem 0 0 0;
    position: relative;
    .rules {
      margin: 1.5rem auto 1rem;
      width: 12rem;
      text-align: left;
      font-size: 0.4rem;
    }
    .interaction_status_wrapper {
      ul {
        margin: auto;
        width: 7rem;
        font-size: 0;
        li {
          display: inline-block;
          width: 3.5rem;
          height: 3rem;
          overflow: hidden;
          background-image: url("image/interaction/button_interaction_bg_00000.png");
          background-repeat: no-repeat;
          background-position: center;
          &:first-child {
            width: 4.5rem;
          }
          a {
            display: inline-block;
            width: 3.5rem;
            height: auto;
            position: relative;
            img {
              display: inline-block;
              width: 3rem;
              position: absolute;
              left: 0.25rem;
            }
            .enabled {
              display: none;
            }
          }
          &.active {
            a {
              .disbled {
                display: none;
              }
              .enabled {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .common_navigation_item {
      a {
        background-image: url("image/interaction/button_drawalottery_00000.png");
      }
    }
  }
  .common_dialog_container {
    &.notyet {
      .dialog_wrapper {
        width: 10rem;
        height: 4rem;
      }
      .content {
        padding: 1rem 0 0 0;
        p {
          font-size: 0.7rem;
        }
      }
    }
  }
}
.information_main_container {
  width: 100%;
  overflow: hidden;
  .frame_wrapper {
    width: 100%;
    height: 10rem;
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          background-color: transparent;
          img {
            width: 13rem;
          }
        }
      }
    }
    .frame {
      width: 100%;
      height: 100%;
      background-image: url("image/information/frame_00000.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
    .common_navigation_item {
      background-image: url("image/information/button_shiguangdingzhi_00000.png");
    }
  }
}
.homepage_main_container {
  width: 100%;
  .common_title_item {
    // margin-top: 1.5rem;
  }
  .content {
    margin: 0 auto;
    width: 12.5rem;
    height: 12.5rem;
    position: relative;
    .bg {
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
    }
    .links {
      width: 100%;
      height: 100%;
      position: relative;
      li {
        display: inline-block;
        width: 2.7rem;
        height: 2.7rem;
        position: absolute;
        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          // background-color: red;
        }
        &.link1 {
          left: 5rem;
          top: 0.5rem;
        }
        &.link2 {
          left: 9.4rem;
          top: 3.3rem;
        }
        &.link3 {
          left: 8rem;
          top: 8.3rem;
        }
        &.link4 {
          left: 2.1rem;
          top: 8.3rem;
        }
        &.link5 {
          left: 0.55rem;
          top: 3.3rem;
        }
      }
    }
  }
}
.entrance_main_container {
  width: 100%;
  //height: 100%;
  background-size: 100%;
  position: relative;
  overflow: hidden;

  .content {
    width: 100%;
    height: 100vh;
    overflow: auto;

    img {
      display: block;
      width: 100%;
    }
  }

  .common_bg_item {
    position: absolute;
    bottom: 0;
  }

  .common_musicbutton_wrapper {
    z-index: 399;
  }

  .entrance_button_wrapper {
    width: 100%;
    position: absolute;
    bottom: 4.75rem;
    z-index: 366;

    .entrance_beginbutton {
      display: block;
      //margin: 27.7rem auto 0;
      margin: 21.4rem auto 0;
      width: 6.5rem;
      height: 2.2rem;
      // background-image: url("./image/entrance/begin_button_00000.png");
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 1;
      transition: all 0.6s;
      z-index: -10;
    }

    .active {
      opacity: 0;
      transition: all 0.6s;
    }
  }

  .common_logo_wrapper {
    margin: 1rem 0 0 0;
    position: absolute;
    bottom: 1.5rem;
  }
}

.edit_selectedflaglist_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  overflow: hidden;
  top: 0;

  .edit_selectedflaglist_wrapper {
    margin: 2rem auto;
    background: #fff;
    width: 14.5rem;

    //height: 14rem;
    .main {
      width: 100%;
      height: 100%;
      overflow: auto;

      ul {
        margin: 2rem auto 0;
        width: 90%;

        //height: 10rem;
        li {
          margin: 1rem 0;
          width: 100%;
          height: 2.2rem;
          line-height: 1.5rem;
          font-size: 0.6rem;
          text-align: left;
          border: 1px solid $yellow;

          a {
            display: flex;
            width: 100%;
            height: 100%;
            font-size: 0;
            border-bottom: 4px solid $yellow;
            //justify-content:center;
            align-items: center;

            label {
              display: inline-block;
              margin: 0 0 0 0.55rem;
              vertical-align: middle;
              line-height: 0.7rem;
              font-size: 0.7rem;
            }

            .content {
              display: inline-block;
              width: 10.3rem;
              //height: 1.5rem;
              line-height: 0.9rem;
              font-size: 0.6rem;
              vertical-align: middle;
            }

            .delete {
              display: inline-block;
              width: 1.5rem;
              height: 2.2rem;
              vertical-align: middle;
              background-color: $yellow;
              // background-image: url("./image/edit/cross_00000.png");
              background-size: contain;
              background-position: center;
            }
          }
        }
      }
    }
  }
}

.poster_generated_wrapper {
  width: 100%;

  img {
    display: inline-block;
    width: 100%;
  }
}

.entrance_speech_wrapper {
  position: absolute;
  top: 0;

  .speech {
    margin: 3rem 0 0 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0.8rem 0 0 0;
      width: 100%;
      opacity: 0;
      transition: all 0.3s;

      img {
        display: block;
        width: 100%;
      }

      &.active {
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}
